<!DOCTYPE html>
<html ng-app="app">
<head>
	<title></title>
	<script type="text/javascript" src="lib/angular.js"></script>
	<script type="text/javascript" src="test.js"></script>
</head>
<body ng-controller="ctrl">
	<ul>
		<h1>Scores</h1>
		<li ng-repeat="score in scores">{{score.name}} {{score.score}}</li>
	</ul>
	<div>
		<button ng-click="getScores()">Get Scores</button>
		<button ng-click="getHighScores()">Get High Scores</button>
	</div>
	<div>
		<h1>Add score</h1>
		<input placeholder="Name" ng-model="addName">
		<input placeholder="Score" type="number" ng-model="addScore">
		<button ng-click="postScore()">Post Score</button>
	</div>
	<div>
		<h1>Remove score</h1>
		<input placeholder="Name" ng-model="removeName">
		<button ng-click="removeScore()">Remove Score</button>
	</div>
</body>
</html>