/*Main Element CSS*/
* {
	margin: 0px;
	padding: 0px;
}
body {
	
}
#container {
	background-color: gray;
}
header {
	background-color: darkcyan;
	height: 200px;
	padding: 20px;
}
nav {
	background-color: black;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#game-container {
	background-color: white;
	width: 720px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
#game-canvas {
	border: 10px solid black;
}
#example-game {
	border: 5px solid black;
	height: 500px; 
}
footer {
	background-color: black;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

/*Text type CSS*/
h2 {
	font-size: 50px;
	font-weight: bold;
	font-family: "Linden Hill";
	color: black;
	margin-top: 20px;
}
p {
	font-size: 30px;
	font-weight: bolder;
	color: cyan;
}
a {
	font-size: 30px;
	font-weight: bold;
	color: cyan;
	text-decoration: none;
}
a:hover {
	color: darkcyan;
}
a:active {
	color: darkcyan;
}
a + a {
	margin-left: 30px;
}
/**/
/**/
/**/
/**/
/**/
/**/
/**/